@import "../../style/variables";
.App {
    background-color: $bg-gray;
    margin: 0 10px 0 10px;
}
.number_list{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin:5px 10px 0 10px;
    width:100px;
    padding:0 0 0 3px;
    background-color: $light-gray;
}
.add_number{
    display: inline-block;
    margin:5px 10px 0 10px;
    width:100px;
    border:1px solid $gray;
    background-color: transparent;
}
.sep_title{
    display: inline-block;
}
.sep_button{
    width: 100px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    background-color: $primary-color;
}
.sep_div{
    display: flex;
    vertical-align: center;
    justify-content: space-between;
}